body {
	background-image: url('./assets/img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Arial', sans-serif;
	text-align: center;
	padding: 20px;
  }